.Details {
  text-align: center;
}
.Details .item {
  padding: 40px 0;
  display: grid;
  place-content: center;
}
.Details .synopsis {
  max-width: 500px;
}
.Details .imageBox {
  border: 2px solid rgba(250, 250, 250, 1);
  margin: 0 auto;
  max-width: 400px
}

.Details .imageBox img{
  width: 100%;
  height: 550px;
}

@media ( min-width:600px ){
  .Details .container {
    display: flex;
    justify-content: space-around;
  }
  
  .Details .item {
    margin: 0 20px;
    flex: 1;
  }
}