.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}
.movie {
  margin: 30px;
  flex: 1;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.movie .item {
  width: 100%;
  height: 100%;
}

.movie .title_overlay {
  width: 100%;
  height: 20%;
  bottom: -100px;
  left: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  background-color: rgba(0,0,0,.7);
  transition: bottom ease 1000ms;
}

.title_overlay h2 {
  position: relative;
  color:white;
  top: 20%;
}

.movie:hover .title_overlay {
  opacity: 1;
  bottom: 0;
}




